#header1-left{
    color: #ffeb3b;
}
#header2{
    color: #ffeb3b;
}
.button-language{
    color: white;
    padding: 10px;
}
.button-certified{
    color: #ffeb3b;
    padding: 5px;
}
.column{
    float:left;
}